<BasicBlazorLibrary.Components.MediaQueries.ParentClasses.MediaQueryListComponent>
    <BasicBlazorLibrary.Components.PageStyles.BlackFullPage>
        <div style="font-size: 55px; font-weight: bold">
            <DynamicComponent Type="@ProgressRenderType" />
        </div>
    </BasicBlazorLibrary.Components.PageStyles.BlackFullPage>
</BasicBlazorLibrary.Components.MediaQueries.ParentClasses.MediaQueryListComponent>