@typeparam M
@if (DataContext is null)
{
    return;
}
<ColumnLayout Columns="6fr 3fr" ColumnGap="5px">
    <VideoListComponent V="M"
                        DataContext="DataContext"
                        IsChild="true"
                        VideoChanged="Refresh"
                        Title="Movie List"
                        RetrieveValue="(item) => item!.Title"
                        VideoSelected="DoChooseMovie" />

    <div style="font-size: 30px; font-weight: bold; ">
        <div style="@GetMargins">
            <VideoButton IsEnabled="DataContext.SelectedItem is not null"
                         OnClick="DoChooseMovie">
                Choose Movie
            </VideoButton>
        </div>
        
            
            <div style="@GetMargins">
                <VideoButton IsEnabled="DataContext.CanAutoResume" OnClick="AutoResume">
                    Auto Resume
                </VideoButton>
            </div>
            <div style="@GetMargins">
                <VideoButton IsEnabled="DataContext.CanShowLastWatched"
                             OnClick="DataContext.ShowLastWatchedAsync"
                             >
                    Last Watched
                </VideoButton>
            </div>
            <div style="@GetMargins">
                <VideoButton IsEnabled="DataContext.CanShowInfoLast"
                             OnClick="DataContext.ShowInfoLastAsync">
                    Info Last
                </VideoButton>
            </div>
        
    </div>
</ColumnLayout>