@using MediaHelpers.CoreLibrary.Video.TelevisionMiscClasses
@if (DataContext is not null && DataContext.IsLoaded == false)
{
    return;
}
@if (_hadPrevious)
{
    if (ChildContent is not null)
    {
        @ChildContent
    }
    return;
}
@if (ShowContentManually)
{
    if (ChildContent is null)
    {
        <div>
            You need to set up the content to show since you specified to show manually
        </div>
        return;
    }
    @ChildContent
    return;
}
@if (DataContext!.CurrentHoliday != EnumTelevisionHoliday.None)
{
    <TelevisionHolidayComponent Holiday="DataContext.CurrentHoliday" OnBackToMain="DataContext.ResetHoliday" />
    return;
}
<TelevisionListComponent />